@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@font-face {
    font-family: Calina Regular;
    src: url('https://assets.zyrosite.com/A85D79Zw2bcZMGKK/Calina Regular.woff2') format('woff2');
    font-display: swap;
}

:root {
    --color-light: #fff;
    --color-dark: #000;
    --color-gray: #727586;
    --color-primary-light: #ebe4ff;
    --color-primary-dark: #1d1e20;
    --font-primary: 'Outfit', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a, img, span, button {
    display: block;
}

a {
    color: var(--color-primary-dark);
    text-decoration: none;
}

img {
    height: auto;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

html {
    font-family: var(--font-primary);
    font-size: 16px;
    color: var(--color-primary-dark);
}

.page {
    min-height: 100vh;
    width: 800px;
    margin: 0 auto;
}

/* COMMON STYLES */
.flex {
    display: flex;
}

.start {
    justify-content: flex-start;
}

.space-around {
    justify-content: space-around;
}

.column {
    flex-direction: column;
}

.center {
    align-items: center;
}

.p10 {
    padding: 10px 0;
}

.m100{
    margin-top: 100px;
}

.pb10 {
    margin-bottom: 10px;
}

.g30 {
    gap: 30px;
}

.f12 {
    font-size: 12px;
}

.f14 {
    font-size: 14px;
}

/* NAVIGATION */
.fixed-block {
    position: sticky;
    top: 0;
}

.container-header {
    background-color: var(--color-dark);
}

.logo {
    width: 100%;
}

.container-nav {
    gap: 50px;
}

.container-nav > a {
    color: var(--color-light);
}

.container-nav > a:hover {
    color: var(--color-gray);
    text-decoration: underline;
}

/* HOME PAGE */
.container-welcome {
    margin-bottom: -120px;
}

.special-font {
    font-family: Calina Regular;
    font-size: 6em;
    font-weight: 400;
    color: var(--color-dark);
}

.welcome-gif {
    height: 360px;
}

.name {
    font-weight: 500;
}

.word-keys {
    font-weight: 400;
}

.person-description {
    width: 550px;
    font-size: 30px;
    font-weight: 300;
}

/* BOOKS PAGE */

.grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}

.grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item img {
    max-width: 100%; 
    height: auto;
}

/* WORK PAGE */
.line {
    border: 2px solid var(--color-gray);
    width: 100%;
}

.work-container {
    gap: 20px;

}

.work-container > div {
    width: 250px;
}

.work-container > div > h3 {
    color: var(--color-dark);
    font-weight: 700;
    margin-bottom: 10px;
}

.work-container > div > p, .roles > li {
    color: var(--color-primary-dark);
    font-weight: 400;
    font-size: 14px;
}

/* FOOTER */
.container-footer {
    background-color: var(--color-primary-dark);
    padding: 20px 0;
}

.person-links {
    color: var(--color-primary-light);
    gap: 10px;
}

.person-links > li > a {
    color: var(--color-primary-light);
}

.person-links > li > a:hover {
    color: var(--color-gray);
}

.signature {
    color: var(--color-gray);
}